<nav id="sidebar" class="sidebar bg-light">
  <div class="p-3">
    <h5 class="text-center fw-bold">Menú</h5>
    <ul class="nav flex-column mt-4">
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/dashboard" routerLinkActive="active">
          <i class="bi bi-person-circle me-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/bank-account-management" routerLinkActive="active">
          <i class="bi bi-gear me-2"></i> Cuentas Asociadas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/transaction-history" routerLinkActive="active">
          <i class="bi bi-gear me-2"></i> Historial de Transacciones
        </a>
      </li>
    </ul>
  </div>
</nav>
