.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin-bottom: 20px;
}

.login-card {
  width: 400px;
  padding: 20px;
  text-align: center;

  &-title {
    margin-bottom: 20px;
  }
}

.full-width {
  width: 100%;
}
