.ant-btn-primary {
    background-color: var(--secondary-500) !important;
    border-color: var(--secondary-500) !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    background-color: var(--secondary-600) !important;
    border-color: var(--secondary-600) !important;
}

.ant-btn-danger {
    background-color: var(--error-700) !important;
    border-color: var(--error-700) !important;
}

.ant-btn-danger:hover {
    background-color: #a31212 !important;
    border-color: #a31212 !important;
}
