@import "./table.css";
@import "./modal.css";
@import "./button.css";
@import "./typography.css";

:root {
    --primary-900: #330e3f;
    --primary-400: #661b7f;
    --primary-300: #8824a9;
    --primary-200: #b242d7;
    --primary-100: #e5c0f2;
    --primary-50: #f4e7f9;
    --primary-30: #f6f3f8;
    --secondary-900: #600037;
    --secondary-600: #0964ec;
    --secondary-500: #0d6efd;
    --secondary-400: #ff49b1;
    --secondary-200: #ffb6e0;
    --secondary-50: #ffdaef;
    --dark-900: #000000;
    --dark-600: #262626;
    --dark-500: #595959;
    --dark-400: #898989;
    --dark-300: #b7b7b7;
    --dark-200: #dfdfdf;
    --dark-100: #f2f2f2;
    --dark-70: #f6f6f6;
    --dark-50: #f9f9f9;
    --white: #ffffff;
    --alternative-500: #16324e;
    --success-500: #2ec963;
    --warning-500: #f1b541;
    --error-700: #d01a1a;
}

.ant-message-success {
    background-color: var(--success-500) !important;
    color: white !important;
}

.ant-message-warning {
    background-color: var(--warning-500) !important;
    color: black !important;
}

.ant-layout {
    background-color: var(--dark-50) !important;
}