<div class="d-flex">
  <nav id="sidebar" class="sidebar bg-light">
    <div class="p-3">
      <h5 class="text-center fw-bold">Menú</h5>
      <ul class="nav flex-column mt-4">
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/dashboard">
            <i class="bi bi-person-circle me-2"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/bank-account-management">
            <i class="bi bi-gear me-2"></i> Cuentas Asociadas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/transaction-history">
            <i class="bi bi-gear me-2"></i> Historial de Transacciones
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="content" class="flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm w-100 px-3">
      <span class="navbar-brand fw-bold">Financial App</span>
      <button class="btn btn-outline-primary ms-auto" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </nav>
    <div class="container mt-4 px-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
